	/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway',
	font-style: normal;
	font-weight: 200;
	src: local('Raleway Black'), url('../fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;

	background-size: cover;
	background-color: #DA1515;

	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	margin: 8px 0 0 0;
}

.container {
	width: 80vw;
	height: auto;
}

.container p {
	text-align: center;
	padding: 0;
}

svg {
	width: 100%;
	height: auto;
}

.hide-init {
	visibility: hidden;
}

.hide-init.animated {
	visibility: visible;
}

/****** nav Styling ******/

#nav-pulldown {
	position: absolute;
	top: 10px;
	left: 10px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-content: center;
	height: 50px;
	background-color: #444;
}

#nav-container {
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu {
	text-decoration: none;
	padding: 6px -1px;
	margin: 6px;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #CCC;
}

.menu.active {
	color: #CCC;
}

.menu.active:hover {
	cursor: default;
}

nav a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#nav-container hr {
	display: none;
	width: 100%;
	margin: 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
    								  rgba(0, 0, 0, 0), 
    								  rgba(255, 255, 255, 0.75), 
    								  rgba(0, 0, 0, 0));
}

#nav-credit-text {
	margin: 0;

	text-align: center;
	font-size: 12px;
	color: #CCC;
}

#mwlogo-nav {
	display: none;
	width: 50px;
	margin: 10px;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login > * {
	margin: 25px 0;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
	box-shadow: 0 0 6px -5px #ccc,
				0 0 6px -5px #ccc;
	transition: box-shadow .5s;
}

#login-btn:hover {
	box-shadow: 0 8px 6px -5px #ccc,
				0 -8px 6px -5px #ccc;
	transition: box-shadow .5s;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

#line1, #line2{
	animation: draw 4s infinite linear;
}

@keyframes draw {
	to {
		stroke-dashoffset: 223.6;
	}
}

.FCC-text { /* FCC Bars */
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #ABABAB;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100%;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

/*Media Queries*/

@media screen and (min-width: 400px) {
	#nav-container {
		width: 60%;
	}
	svg {
		width: 90%;
	}
	.svg-path {
		stroke-width: 13;
	}
	.login > * {
		margin: 25px 0;
	}
	.FCC-text {
		font-size: 33px;
	}
}

@media screen and (min-width: 600px) {
	#nav-container {
		width: 55%;
	}
	svg {
		width: 70%;
	}
	.FCC-text {
		font-size: 40px;
	}
}

@media screen and (min-width: 800px) {
	#nav-container {
		width: 50%;
	}
	svg {
		width: 54%;
	}
}

@media screen and (min-width: 1100px) {
	nav {
		left: 10%;
		height: 40vh;
		width: 200px;
	}
	#nav-container {
		flex-direction: column;
	}
	.hide-widescreen {
		display: none;
	}
	.show-widescreen {
		display: block;
	}
	#nav-container hr {
		display: block;
		margin-bottom: -10px;
	}
	#mwlogo-nav {
		display: block;
	}
}

@media screen and (min-width: 1300px) {
	nav {
		height: 35vh;
	}
	svg {
		width: 40%;
	}
	.login > * {
		margin: 30px 0;
	}
}

@media screen and (min-width: 1450px) {
	svg {
		width: 420px;
	}
}

