	/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway";
  src: url('../bower_components/raleway/fonts/regular/raleway-regular.eot');
  src: url('../bower_components/raleway/fonts/regular/raleway-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/raleway/fonts/regular/raleway-regular.woff') format('woff'),
  url('../bower_components/raleway/fonts/regular/raleway-regular.ttf') format('truetype'),
  url('../bower_components/raleway/fonts/regular/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../bower_components/raleway/fonts/medium/raleway-medium.eot');
  src: url('../bower_components/raleway/fonts/medium/raleway-medium.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/raleway/fonts/medium/raleway-medium.woff') format('woff'),
  url('../bower_components/raleway/fonts/medium/raleway-medium.ttf') format('truetype'),
  url('../bower_components/raleway/fonts/medium/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;

	background-size: cover;
	background-color: #DA1515;

	height: 100vh;
	width: 100vw;
}

p {
	margin: 8px 0 0 0;
}

.container {
	width: 80vw;
	height: auto;
}

.container p {
	text-align: center;
	padding: 0;
}

#mw-logo-login {
	width: 100%;
	height: auto;
}

.hide-init {
	visibility: hidden;
}

.hide-init.animated {
	visibility: visible;
}

#search-container {

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	height: 30px;
	width: 100%;
	transition: all .8s ease-in-out;

	margin-bottom: 30px;

	display: flex;
	justify-content: center;
}

#search-container.to-top {
	top: 10%;
	transition: all .8s ease-in-out;
}

#search {
	width: 100px;
	transform: translateX(15px);

	background-color: rgba(0,0,0,0);
	border: none;
	outline: 0;
	border-bottom: 1px solid white;
	height: 20px;
	padding-bottom: 9px;

	font-family: 'Raleway', 'Garamond';
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	transition: all 1s cubic-bezier(.18,.94,.14,1);
}

#search:focus, #search:valid {
	width: 80%;
	text-align: left;
	transition: all 1s cubic-bezier(.18,.94,.14,1);
}

#search-button {
	margin: 12px 0 0 25px;
}

#search-button.animated {
	visibility: visible;
}

/****** nav Styling ******/

#nav-pulldown {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 2;
}

.fa-inverse {
	text-shadow: 0 0 3px white,
				 0 0 5px white;
}

#username-display {
	position: absolute;
	top: 16px;
	right: 0;
	margin-right: 10px;
	width: 100%;
	height: 30px;

	text-align: right;
	font-family: 'Raleway', 'Garamond';
	color: white;
	font-size: 16px;
	font-weight: 500;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;

	display: flex;
	justify-content: space-around;
	align-content: center;
	height: 50px;
	background-color: #444;
}

#nav-container {
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu {
	text-decoration: none;
	padding: 6px -1px;
	margin: 6px;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #CCC;
}

.menu.active {
	color: #CCC;
	pointer-events: none;
}

.menu.active:hover {
	cursor: default;
}

nav a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#nav-container hr {
	display: none;
	width: 100%;
	margin: 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
    								  rgba(0, 0, 0, 0), 
    								  rgba(255, 255, 255, 0.75), 
    								  rgba(0, 0, 0, 0));
}

#nav-credit-text {
	margin: 0;

	text-align: center;
	font-size: 12px;
	color: #CCC;
}

.show-widescreen {
	display: none;
}

#mwlogo-nav {
	display: none;
	width: 50px;
	margin: 10px;
}

#display-name {
	font-weight: 400;
}

/****** Result Styling ******/

#result-container {
	position: absolute;
	top: 130px;

	width: 100%;

	display: none;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.result {
	width: 300px;
	height: 300px;

	margin: 16px 5px;
}

.img-container {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 250px;
	height: 250px;
	margin: 25;

	overflow: hidden;

	box-shadow: 0 0 5px 1px #444;
	transition: box-shadow .5s;
}

.img-container.highlight {
	box-shadow: 0 0 5px 2.5px black;
}

.result img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-modal {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.img-modal.show-info {
	opacity: .6;
	box-shadow: inset 0 0 10px black;
}

.business-title {
	position: absolute;
	top: 190px;
	left: 0;
	width: auto;
	max-width: 240px;
	padding: 3px 5px 3px 2px;

	font-family: 'Raleway';

	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	background-color: rgba(0, 0, 0, .7);
	transition: padding .6s ease-in-out,
				background-color .6s ease-in-out,
				top 1s cubic-bezier(.86,.08,.32,.99);
}

.business-title.highlight {
	background-color: black;
	padding: 3px 5px 3px 5px;
}

.business-title.show-info {
	top: 10px;
	z-index: 4;
}

.business-title a {
	text-decoration: none;
	color: white;
}

.result h3 {
	margin: 0;
	font-weight: 500;
	font-size: 23px;
	letter-spacing: .6px;
}

.business-info {
	position: absolute;
	top: 50px;
	left: 10px;
	width: 230px;
	height: 135px;

	text-align: right;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;

	visibility: hidden;

	overflow: hidden;
}

.business-info.animated {
	visibility: visible;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.going-btn {
	position: absolute;
	height: 30px;
	width: 150px;
	top: 198px;
	left: 50px;
	z-index: 3;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Raleway";
	font-size: 20px;
	font-weight: 500;

	border: 2px solid black;
	transition: border .5s ease-in-out,
				color .5s ease-in-out;

	visibility: hidden;
}

.going-btn:hover {
	border: 2px solid #DA1515;
	color: #DA1515;
}

.going-btn.animated {
	visibility: visible;
}

/****** Login Styling ******/

#login-wrap {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login > * {
	margin: 25px 0;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
	box-shadow: 0 0 6px -5px #ccc,
				0 0 6px -5px #ccc;
	transition: box-shadow .5s;
}

#login-btn:hover {
	box-shadow: 0 8px 6px -5px #ccc,
				0 -8px 6px -5px #ccc;
	transition: box-shadow .5s;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

#line1, #line2{
	animation: draw 4s infinite linear;
}

@keyframes draw {
	to {
		stroke-dashoffset: 223.6;
	}
}

.FCC-text { /* FCC Bars */
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #CCC;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100%;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

/*Media Queries*/

@media screen and (min-width: 400px) {
	#nav-container {
		width: 60%;
	}
	#mw-logo-login {
		width: 90%;
	}
	.#mw-logo-login-path {
		stroke-width: 13;
	}
	.login > * {
		margin: 25px 0;
	}
	.FCC-text {
		font-size: 33px;
	}
}

@media screen and (min-width: 600px) {
	#nav-container {
		width: 55%;
	}
	#mw-logo-login {
		width: 70%;
	}
	.FCC-text {
		font-size: 40px;
	}
	#result-container{ 
		top: 145px;
	}
}

@media screen and (min-width: 700px) {
	#result-container {
		width: 88%;
		margin: 0 6%;
	}
}

@media screen and (min-width: 800px) {
	#nav-container {
		width: 50%;
	}
	#mw-logo-login {
		width: 54%;
	}
	#result-container {
		width: 90%;
		margin: 0 5%;
	}
}

@media screen and (min-width: 1100px) {
	nav {
		left: 10px;
		height: 40vh;
		width: 200px;
	}
	#nav-container {
		flex-direction: column;
	}
	.hide-widescreen {
		display: none;
	}
	.show-widescreen {
		display: block;
	}
	#nav-container hr {
		display: block;
		margin-bottom: -10px;
	}
	#mwlogo-nav {
		display: block;
	}

	#search {
		font-size: 26.5px;
		width: 128px;
	}
}

@media screen and (min-width: 1300px) {
	#mw-logo-login {
		width: 40%;
	}
	.login > * {
		margin: 30px 0;
	}
	#search:focus, #search:valid {
		width: 70%;
	}
}

@media screen and (min-width: 1450px) {
	#mw-logo-login {
		width: 420px;
	}
}